@import '../conf';

.tcs-appointments {
  padding: 10px;
}

.tcs-apt-group-month {
  padding: 10px 8px;
  .tcs-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.tcs-apt-group-day {
  padding-bottom: 12px;
  display: grid;
  grid-template-columns: 100px auto;
  .tcs-day {
    border-right: 2px solid #DDD;
    margin-right: 12px;
    padding-right: 12px;
    text-align: right;
    font-size: 18px;
  }
  .tcs-apt {
    margin: 0 0 8px;
    padding: 3px;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    color: black;
    span {
      margin: 0 5px;
      vertical-align: middle;
    }
    &.dark {
      color: white;
    }
  }
  .tcs-item:last-child .tcs-apt {
    margin-bottom: 0;
  }
}

$circle-size: 22px;
.tcs-circle {
  display: inline-block;
  width: $circle-size;
  height: $circle-size;
  border-radius: $circle-size / 2;
  margin-right: 10px;
}

.tcs-session-name {
  padding-top: 20px;
  text-align: right;
  font-size: 14px;
}

.tcs-price {
  font-size: 30px;
  .tcs-label {
    font-size: 14px;
    color: $label-colour;
  }
}

.tcs-signout {
  color: $brand-colour;
  cursor: pointer;
}

.tcs-book {
  padding-top: 10px;
}

.tcs-signin {
  margin: 0 auto;
  display: block;
}

$new-student-height: 38px;
$new-student-border-radius: 5px;
.tcs-book-new {
  .tcs-default-input {
    width: calc(100% - 200px);
    height: $new-student-height;
    border-radius: $new-student-border-radius 0 0 $new-student-border-radius;
    border-right: none;
  }
  .tcs-button {
    width: 200px;
    height: $new-student-height;
    border-radius: 0 $new-student-border-radius $new-student-border-radius 0;
  }
}
