//@import './vue-multiselect/dist/vue-multiselect.min';
@import '../conf';

.multiselect__select {
  cursor: default;
  right: 16px;
}

.multiselect__option--highlight {
  background: $brand-colour;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: darken($brand-colour, 10%);
}

.tcs-filters-container {
  display: flex;
}

.tcs-contractor-filter {
  width: 50%;
  box-sizing: border-box;
}

.Select {
  margin-left: 4px;
}

.tcs-location-filter {
  margin-right: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 36px;
  padding: 0 2px;
}

.tcs-location-input {
  width: calc(100% - 30px);
  border: none;
  padding: 8px;
  font-size: 16px;
  outline: none !important;
  &::placeholder {
    color: #aaa;
  }
}
.tcs-location-clear {
  padding: 6px;
  width: 30px;
  background: none;
  border: none;
  font-size: 16px;
  color: #999;
  cursor: pointer;
  &:hover {
    color: #666;
  }
}

@media(max-width: 600px) {
  .tcs-contractor-filter {
    width: 100%;
  }
}
