@import '../conf';

.tcs-contractors {
  padding: 10px;
}

.subject-select {
  width: 50%;
  margin: 0 0 0 auto;
  padding: 0 2px;
  box-sizing: border-box;
}

@media(max-width: 600px) {
  .subject-select {
    width: 100%;
  }
}

@media(max-width: 400px) {
  .subject-select {
    width: 100%;
  }
  .tcs-contractors {
    padding: 10px 2px;
  }
}

.tcs-box {
  text-decoration: none;
  user-select: none;
  h3.tcs-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0 0 3px;
  }
  img.tcs-thumb {
    border-radius: $border-radius $border-radius 0 0;
    width: $dft-image-size;
    height: $dft-image-size;
    margin: 0;
    display: block;
  }
}

.tcs-aside {
  font-size: 20px;
  margin-bottom: 10px;
  max-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tcs-location {
  text-align: center;
  margin: 15px 0 5px;
  span {
    padding-top: 4px;
    vertical-align: top;
    font-weight: 500;
  }
  .tcs-svg {
    fill: $location-fill;
  }
}
