svg.tcs-close {
  cursor: pointer;
  font-size: 26px;
  text-decoration: none;
  padding: 5px;
  path {
    fill: #888;
    transition: all .5s ease;
  }
  &:hover {
    path {
      fill: black;
    }
  }
}
