@import '../conf';

form.tcs {
  margin: auto;
  max-width: 450px;
}

.tcs-centre {
  margin: 0 0 10px;
  text-align: center;
}

.tcs-submitted {
  text-align: center;
  font-size: 20px;
  padding: 30px 40px;
}

.tcs-submit {
  text-align: center;
  button {
    @extend %tcs-button;
    font-size: 17px;
    padding: 10px 12px;
  }
}

.grecaptcha > div {
  margin: 0 auto;
}
.error-msg {
  color: darkred;
  text-align: center;
}
