@import '../conf';
.tcs-errors {
  background-color: $brand-colour;
  color: white;
  margin: 5px;
  padding: 10px 10px;
  font-size: 13px;
  img {
    width: 100%;
  }
  .tcs-error-content {
    font-family: monospace;
    background-color: darken($brand-colour, 5%);
    padding: 20px 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
  }
  dt {
    margin: 15px 0 5px;
    font-weight: 500;
  }
}
