@import '../conf';

.tcs-summary {
  padding: 5px 2px 0;
  text-align: right;
  font-size: 13px;
  color: #666;
  min-height: 18px;
}

.tcs-flex {
  display: flex;
  flex-wrap: wrap;
  .tcs-item {
    display: block;
    border-radius: $border-radius;
    background-color: #005377;
    color: white;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
    user-select: none;
  }
  h3.tcs-name {
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
  }
}

.tcs-col {
  flex-grow: 1;
  padding: 10px 15px 20px;
}

@media(max-width: 400px) {
  .tcs-col {
    padding: 10px 2px 20px;
  }
}
