@import '../conf';

$border-colour: #66afe9;
.tcs-field {
  &.required {
    .help-text {
      content: "Read this: ";
    }
  }

  padding: 8px 0;
  width: 100%;
  input, textarea, select {
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px 10px;
    margin: 0;
    height: inherit;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-family: inherit;
    outline: none;
    background-color: white;
    &:focus {
      border-color: $border-colour;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px lighten($border-colour, 20%);
    }
    &:required {
      border: 1px solid #888;
    }
  }
  label {
    display: block;
  }
  input[type="checkbox"] {
      width: auto;
  }
  .help-text {
    font-size: 14px;
    color: #888;
    &.muted {
      display: none;
    }
  }
  .tcs-datetime input {
    width: calc(50% - 5px);
   &:first-child {
     margin-right: 5px
   }
   &:last-child {
     margin-left: 5px;
   }
  }
}
