@import '../conf';
$box-height: 220px;
.tcs-list {
  .tcs-box {
    color: #444;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    max-height: $box-height;
    //border: 1px dashed black;
  }
  h3.tcs-name {
    font-size: 26px;
  }
  .tcs-info {
    max-width: 480px;
    padding: 0 10px;
  }
  // height of title and tag line and tcs-box padding
  $other-height: 100px;
  .tcs-primary-description {
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    height: $box-height - $other-height;
  }
  .tcs-fadeout {
    position: relative;
    bottom: 60px;
    height: 60px;
    width: 100%;
    background: linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 1) 100%
    );
  }

  .tcs-box-extra {
    flex: 0 0 140px;
    .tcs-shim {
      height: 150px;
    }
  }

  .tcs-location, button {
    height: 40px;
  }
  button {
    @extend %tcs-button;
    margin: 0;
    width: 100%;
  }
}
