@import '../conf';

.tcs-modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($back-colour, $back-colour, $back-colour, .6);
}

.tcs-modal {
  max-width: 900px;
  box-sizing: border-box;
  margin: 6vh auto 0;
  padding: 20px 20px 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  @media(max-width: 908px) {
    margin: 10px 4px 0;
    padding: 10px;
  }
}

.tcs-header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    font-size: 29px;
    font-weight: 400;
    height: 32px;
  }
  .close {
    float: right;
  }
}

.tcs-modal-trans {
  opacity: 0;
  transition: all .3s ease;
  .tcs-modal {
    transition: all .3s ease;
    transform: translate(0, 40px);
  }
  &.show {
    opacity: 1;
    .tcs-modal {
      transform: translate(0, 0);
    }
  }
}
