@import '../conf';

.tcs-text-right {
  text-align: right !important;
}

.tcs-text-center {
  text-align: center !important;
}

.tcs-button {
  display: inline-block;
  background-color: $button-colour;
  color: white;
  border-radius: 4px;
  font-size: 17px;
  padding: 8px 12px;
  border: none;
  transition: all .3s ease;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: darken($button-colour, 20%);
  }
  &:disabled {
    background: desaturate(lighten($button-colour, 20%), 70%);
    color: desaturate(lighten($button-colour, 60%), 70%);
    cursor: default;
  }
}

a.tcs-item {
  text-decoration: none !important;
  user-select: none !important;
  color: $text-color;
}
