@import './vue-multiselect/dist/vue-multiselect.min';
@import '../conf';

.multiselect__select {
  cursor: default;
  right: 16px;
}

.multiselect__option--highlight {
  background: $brand-colour;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: darken($brand-colour, 10%);
}

.cross {
  position: absolute;
  top: 1px;
  right: 1px;
  margin: 5px 4px;
  padding: 4px 4px;
  cursor: pointer;
  z-index: 10;
  svg.tcs-svg {
    transition: all .4s ease;
    opacity: 0.5;
    width: 18px;
    height: 18px;
  }
  &:hover {
    svg.tcs-svg {
      opacity: 1;
    }
  }
}
