@import '../conf';

.tcs-footer {
  font-size: 12px;
  height: 28px;
  > span {
    cursor: default;
    display: inline-block;
    margin-top: 12px;
    color: #ccc;
    transition: all .8s ease;
    &:hover {
      color: $brand-colour;
    }
  }
  a {
    float: right;
    text-decoration: none;
    color: #999;
    transition: all .8s ease;
    &:hover {
      color: $brand-colour;
      svg {
        opacity: 1;
        transform: translate(0, 8px);
      }
    }
    svg {
      transition: all .8s ease;
      width: 25px;
      height: 25px;
      transform: translate(0px, 4px);
      opacity: 0;
      path {
        fill: $brand-colour;
      }
    }
  }
}

.tcs-errors {
  margin: 5px;
  padding: 10px 10px;
  font-size: 14px !important;
  border: 1px solid #f44;
  border-radius: 4px;
  color: $text-color;
  img {
    width: 100%;
  }
  .tcs-error-content {
    color: black;
    padding: 0 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.tcs-bull {
  margin: 0 5px
}
