// grid border radius
$border-radius: 3px;
// model background colour
$back-colour: 35;
// TC colour
$brand-colour: #016997;
// highlight sections of modals
$hightlight: $brand-colour;
// svgs on modals
$svg-size: 22px;
// section on right (with image) on modals
$extra-width: 200px;
// boundary for assuming mobile
$size-sm: 768px;
// contact button on modals
$button-colour: $hightlight;


.tcs-button {
  display: inline-block;
  background-color: $button-colour;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  padding: 8px 12px;
  border: none;
  transition: all .3s ease;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-color: darken($button-colour, 20%);
  }
}
