// grid border radius
$border-radius: 3px;
// model background colour
$back-colour: 35;
// highlight sections of modals
$hightlight-dark: #01579B;
$hightlight-light: #039BE5;
// svgs on modals
$svg-size: 22px;
// section on right (with image) on modals
$extra-width: 200px;
// contact button on modals
$button-colour: $hightlight-light;
