// grid border radius
$border-radius: 3px;
// model background colour
$back-colour: 35;
// TC colour
$brand-colour: #016997;
// highlight sections of modals
$highlight: $brand-colour;
// ligher, greyer variant of $brand-colour
$location-fill: #6f9aad;
// svgs on modals
$svg-size: 22px;
// section on right (with image) on modals
$extra-width: 200px;
// boundary for assuming mobile
$size-sm: 768px;
// contact button on modals
$button-colour: $highlight;
// size used for images in grid and list view
$dft-image-size: 150px;
$grey-text: #888;
